# Laravel specific
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key

# Allow logs folder and its .gitignore
/storage/*
!/storage/.gitignore
!/storage/logs
!/storage/logs/.gitignore

# Environment files
.env
.env.local
.env.backup
.env.production

# PHPUnit
/.phpunit.cache
.phpunit.result.cache

# IDEs & Editor junk
/.fleet
/.idea
/.vscode
/.phpactor.json
/.file

# Homestead
Homestead.json
Homestead.yaml

# Debug logs
npm-debug.log
yarn-error.log
auth.json
